{% extends 'layout1.html' %}

{% block body %}

<h2 style="color: rgb(0, 143, 149)">O aplikaci</h2>
<br>
<p>Tato aplikace vznikala v rámci závěrečného projektu Czechitas Digitální Akademie (projekt podporován Google.org)
    na podzim roku 2017. Mentorem projektu byl
    <a href="https://cz.linkedin.com/in/luk%C3%A1%C5%A1-benka-625a587a">Lukáš Benka</a> z Kiwi.com.</p>

<p>Aplikace umožňuje zobrazit základní statistiky ze závodů v orientačním běhu pro jednotlivé závodníky.
    V tuto chvíli aplikace zobrazuje statistiky závodů za rok 2017, v disciplínách klasická trať,
    krátká trať a sprint, úrovní MČR, žebříček A, žebříček B a oblastní závody.</p>

<p>ORIS dashboards je v beta verzi a je v méně či více intnzivním vývoji.</p>


<br><br>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <img src="/static/czechitas.png" alt="czechitas logo" height="100">
    </div>
    <div class="col-md-5 col-xs-12">
        <img src="/static/google.png" alt="google.org logo" height="100">
    </div>
    <div class="col-md-3 col-xs-12">
        <img src="/static/Kiwicom.png" alt="kiwi.com logo" height="100">
    </div>
</div>

{% endblock %}