{% extends 'layout1.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>{{ '{} {}'.format(user_data[0][1], user_data[0][2]) }}</h1>
    <p class="lead">{{ '{}, {}'.format(user_data[0][3], user_data[0][4]) }}</p>
</div>

<h1>Přehled za rok 2017</h1>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <h3>Základní statistiky</h3>

        <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <img src="https://cdn0.iconfinder.com/data/icons/thin-navigation/24/thin-0545_map_travel_distance_directions-512.png" alt="distance" height="60" width="60">
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} km'.format(text_data[1]) }}</b></h3>
                <p>Celkové kilometry</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <img src="http://www.freeiconspng.com/uploads/stopwatch-icon-2.png" alt="time" height="60" width="60">
            </div>
            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} hod'.format(text_data[0]) }}</b></h3>
                <p>Celkový čas</p>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <img src="https://cdn4.iconfinder.com/data/icons/orienteering/100/Course-2-512.png" alt="control" height="60" width="60">
            </div>
            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} kontrol'.format(text_data[2]) }}</b></h3>
                <p>Celkový počet nalezených kontrol</p>
            </div>
        </div>

        <br>
        <h3>Průměrné tempo</h3>
        <br>
        <div class="row">
            <div class="col-md-4 col-xs-3">
                <p>Klasická trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <p style="font-size:18px"><b>{{ '{} min/km'.format(text_data[3]) }}</b></p>
                <!--<p>{{ '{} - {} min/km'.format(text_data[4], text_data[5]) }}</p>-->
            </div>
        </div>

          <div class="row">
            <div class="col-md-4 col-xs-3">
                <p>Krátká trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <p style="font-size:18px"><b>{{ '{} min/km'.format(text_data[6]) }}</b></p>
                <!--<p>{{ '{} - {} min/km'.format(text_data[7], text_data[8]) }}</p>-->
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-xs-3">
                <p>Sprint</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <p style="font-size:18px"><b>{{ '{} min/km'.format(text_data[9]) }}</b></p>
                <!--<p>{{ '{} - {} min/km'.format(text_data[10], text_data[11]) }}</p>-->
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        <h3>Závody v mapě</h3><br>
        {{ div_map }}
    </div>
</div>

<br>
<div class="row">
    <div class="col-md-4 col-xs-12">
        <br>
        <h3>Naběhaný čas</h3>
        <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Klasická trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} hod'.format(text_time[0]) }}</b></h3>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Krátká trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} hod'.format(text_time[1]) }}</b></h3>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Sprint</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} hod'.format(text_time[2]) }}</b></h3>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        {{ div_time }}
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <br>
        <h3>Naběhané kilometry</h3>
        <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Klasická trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} km'.format(text_km[0]) }}</b></h3>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Krátká trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} km'.format(text_km[1]) }}</b></h3>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Sprint</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} km'.format(text_km[2]) }}</b></h3>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        {{ div_km }}
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12">
        <br>
        <h3>Nalezené kontroly</h3>
        <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Klasická trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} kontrol'.format(text_controls[0]) }}</b></h3>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Krátká trať</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} kontrol'.format(text_controls[1]) }}</b></h3>
            </div>
        </div>

         <div class="row">
            <div class="col-md-4 col-xs-3">
                <br>
                <p>Sprint</p>
            </div>

            <div class="col-md-8 col-xs-9">
                <h3><b>{{ '{} kontrol'.format(text_controls[2]) }}</b></h3>
            </div>
        </div>
    </div>

    <div class="col-md-8 col-xs-12">
        {{ div_controls }}
    </div>
</div>

{% endblock %}