{% extends 'layout1.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1 style="color: rgb(0, 143, 149)">Vítejte na ORIS dashboards</h1>
    <p class="lead">Vizualizace Vašich dat ze závodů v orientačním běhu tady a teď.</p>
</div>


<p class="lead">Nalezené osoby:</p>

{% if length == 0 %}
<h4><b>Je nám líto :(</b></h4>
<p>Žádný závodník s tímto příjmením nebyl nalezen.
    <br>Zkus příjmení s diakritikou zadat znovu.</p>
{% endif %}

<ul>
{% for user in users %}
    <li><a href="/users/{{ user[0] }}">{{ '{} {}, {}, {}'.format(user[1], user[2], user[3], user[4]) }}</a></li>
{% endfor %}
</ul>

{% endblock %}