{% extends 'layout1.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1>Vítejte na ORIS dashboards</h1>
    <p class="lead">Vizualizace Vašich dat ze závodů v orientačním běhu tady a teď.</p>
</div>

<p class="lead">Vyhledávání podle příjmení závodníka</p>
<form action="/users" method="post">
    <label>
        <label for="name">Zadejte příjmení:</label>
        <input type="text" class="form-control" name="name" required/>
    </label>
    <button type="submit" class="btn btn-primary">Vyhledat</button>
</form>

<!--<p class="lead"><br>Vyhledávání podle registračního čísla závodníka</p>-->
<!--<form action="/users" method="post">-->
    <!--<label>-->
        <!--Zadejte registrační číslo:-->
        <!--<input type="text" name="regNo"/>-->
    <!--</label>-->
    <!--<button type="submit">Vyhledat</button>-->
<!--</form>-->

{% endblock %}