<h1>ORIS DASHBOARD</h1>
<h2>Zde si můžeš prohlédnout statistiky ze svých závodů v orientačním běhu.</h2>
    <iframe frameborder='0' noresize='noresize' align="left" style='background: transparent; width: 70%; height:80%;' src="{{ map }}" frameborder="0"></iframe>
    <iframe frameborder='0' noresize='noresize' align="right" style='background: transparent; width: 30%; height:80%;' src="{{ stacked }}" frameborder="0"></iframe>
    <iframe frameborder='0' noresize='noresize' align="left" style='background: transparent; width: 50%; height:80%;' src="{{ stacked_km }}" frameborder="0"></iframe>
    <iframe frameborder='0' noresize='noresize' align="right" style='background: transparent; width: 50%; height:80%;' src="{{ controls }}" frameborder="0"></iframe>


